<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
</head>
<body>
    <header>
        <div>
            <strong>User Name:</strong> {{ user_name }} | <strong>Topic:</strong> {{ topic }}
        </div>
    </header>

    <form action="{{ url_for('handle_search') }}" method="POST">
        <label for="query">Search:</label>
        <input type="text" id="query" name="query" placeholder="Enter keywords" required>

        <!-- データセット選択欄 -->
        <label for="dataset">Choose a field for searching:</label>
        <select id="dataset" name="dataset">
          <option value="tof">Title + OCR text + Folder label</option>

	  <option value="to">Title + OCR text</option>
	  <option value="tf">Title + Folder label</option>
	  <option value="to">Title + OCR text</option>
	  
	  <option value="t">Title</option>
	  <option value="o">OCR Text</option>
	  <option value="f">Folder label</option>
 
        </select>

        <button type="submit">Search</button>
    </form>
</body>
</html>
